.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-s) var(--space-l);
  background-color: var(--color-primary);
  color: var(--color-black);
  font-family: var(--font-family);
}

.header h1 {
  margin: 0;
  font-size: var(--space-xl);
  
}

.header h1:nth-child(2) {
  font-size: 1.5rem;
  font-weight: bold;
}

.header .action-buttons {
  list-style: none;
  display: flex;
  gap: var(--space-m);
  margin: 0;
  padding: 0;
}

.header .action-buttons li a {
  text-decoration: none;
  color: var(--color-black);
  font-weight: 500;
  padding: var(--space-xxs) var(--space-s);
  border-radius: var(--space-xxs);
  transition: background-color 0.2s;
}

.header .action-buttons li a:hover {
  background-color: var(--color-white);
}