.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header {
  flex-shrink: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: auto;
}
ww
.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  min-height: 0;
}
