:root {
  --space-xxxs: 0.25rem;
  --space-xxs: 0.5rem;
  --space-xs: 0.75rem;
  --space-s: 1rem;
  --space-sm: 1.25rem;
  --space-m: 1.5rem;
  --space-ml: 2rem;
  --space-l: 2.5rem;
  --space-xl: 3rem;
  --space-xxl: 3.5rem;

  --color-white: #f8f8f8;
  --color-black: #000000;
  --color-primary: #ffb400;
  --color-secondary: #464646;
  --color-overlay: rgba(0, 0, 0, 0.5);

 
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body {
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
